absl-py==2.1.0
aiohttp==3.9.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==5.3.0
altgraph==0.17.4
annotated-types==0.6.0
anyio==4.3.0
appdirs==1.4.4
arrow==1.3.0
asgiref==3.8.1
aspose-cells==24.5.0
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
auto-py-to-exe==2.44.0
awscli==1.33.40
Babel==2.15.0
backcall==0.2.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
binaryornot==0.4.4
bleach==6.1.0
blinker==1.8.1
boto3==1.34.158
botocore==1.34.158
bottle==0.12.25
bottle-websocket==0.2.9
branca==0.7.2
brazilcep==6.3.1
CacheControl==0.14.0
cachetools==5.3.3
canvas==0.1.8
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cmake==3.30.1
colorama==0.4.6
coloredlogs==15.0.1
comtypes==1.4.4
contourpy==1.2.1
cookiecutter==2.6.0
cryptography==42.0.8
cycler==0.12.1
decorator==5.1.1
deepface==0.0.92
defusedxml==0.7.1
dj-database-url==2.2.0
Django==5.0.8
dnspython==2.6.1
docker==7.1.0
docopt==0.6.2
docutils==0.16
docx==0.2.4
Eel==0.16.0
email_validator==2.1.1
et-xmlfile==1.1.0
executing==2.0.1
extra-streamlit-components==0.1.71
face-recognition==1.3.0
face_recognition_models==0.3.0
fastapi==0.111.0
fastapi-cli==0.0.2
fastjsonschema==2.20.0
filelock==3.15.4
fire==0.6.0
firebase-admin==6.5.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flatbuffers==24.3.25
flet==0.22.1
flet-core==0.22.1
flet-runtime==0.22.1
folium==0.16.0
fonttools==4.53.1
fpdf==1.7.2
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.6.0
gdown==5.2.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
google-ai-generativelanguage==0.6.6
google-api-core==1.34.1
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-generativeai==0.7.1
google-pasta==0.2.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.0
googlemaps==4.10.0
googletrans==4.0.0rc1
greenlet==3.0.3
grpcio==1.63.0
grpcio-status==1.48.2
gTTS==2.5.1
gunicorn==22.0.0
h11==0.9.0
h2==3.2.0
h5py==3.11.0
hpack==3.0.0
hstspreload==2024.6.1
httpcore==0.9.1
httplib2==0.22.0
httptools==0.6.1
humanfriendly==10.0
hupper==1.12.1
hyperframe==5.2.0
idna==2.10
imageio==2.34.1
imbox==0.9.8
importlib_metadata==7.1.0
isodate==0.6.1
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jax==0.4.30
jaxlib==0.4.30
jedi==0.19.1
Jinja2==3.1.3
jmespath==1.0.1
JPype1==1.5.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==3.4.1
keyring==8.7
keyrings.alt==5.0.1
kiwisolver==1.4.5
langchain==0.2.14
langchain-core==0.2.32
langchain-google-genai==1.0.8
langchain-text-splitters==0.2.2
langsmith==0.1.99
lazy_loader==0.4
libclang==18.1.1
libretranslatepy==2.1.1
llvmlite==0.42.0
lxml==5.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mediapipe==0.10.14
mercadopago==2.2.3
mistune==3.0.2
ml-dtypes==0.3.2
more-itertools==10.2.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.8
mtcnn==0.1.1
multidict==6.0.5
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
networkx==3.3
notification==0.2.1
numba==0.59.1
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.17.3
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.3
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
PasteDeploy==3.1.0
pdfgen==1.0.5
pefile==2023.2.7
pickleshare==0.7.5
pillow==10.3.0
pipreqs==0.5.0
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==4.2.1
player==0.6.1
pocketsphinx==5.0.3
polyline==2.0.2
pooch==1.8.1
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==3.20.3
psutil==6.0.0
psycopg2==2.9.9
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycep-correios==5.2.0
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
pyee==8.2.2
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
pyinstaller==6.8.0
pyinstaller-hooks-contrib==2024.6
PyJWT==2.8.0
PyMatting==1.1.12
PyMsgBox==1.0.9
pyparsing==3.1.2
PyPDF2==1.28.6
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
pyppeteer==0.2.6
pyramid==2.0.2
pyramid_jinja2==2.10.1
pyreadline3==3.4.1
PyRect==0.2.0
PyScreeze==0.1.30
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.9
python-slugify==8.0.4
python-weather==2.0.3
pyttsx3==2.90
pytweening==1.2.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
qrcode==7.4.2
ratelim==0.1.6
redis==5.0.4
referencing==0.35.1
rembg==2.0.56
repath==0.9.0
reportlab==4.2.0
requests==2.31.0
requests-file==2.0.0
requests-toolbelt==1.0.0
RestrictedPython==7.1
retina-face==0.0.17
rfc3986==1.5.0
rich==13.7.1
rpds-py==0.18.0
rsa==4.7.2
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.10.2
scikit-image==0.23.2
scipy==1.13.0
seaborn==0.13.2
setuptools==70.0.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.4.7
soupsieve==2.5
SpeechRecognition==3.10.4
SQLAlchemy==2.0.29
sqlparse==0.5.1
st-circular-progress==0.3.9
stack-data==0.6.3
starlette==0.37.2
statsd==4.0.1
streamlit==1.36.0
streamlit-authenticator==0.3.2
streamlit-option-menu==0.3.13
streamlit_carousel==1.1.0
sympy==1.12
syncasync==20180812
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==2.4.0
text-unidecode==1.3
tf_keras==2.16.0
tifffile==2024.4.24
tinycss2==1.3.0
tkcalendar==1.6.1
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
translate==3.6.1
translationstring==1.4
ttkthemes==3.2.2
twilio==9.1.1
typer==0.12.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.11.0
tzdata==2024.1
ujson==5.9.0
ultralytics==8.2.76
ultralytics-thop==2.0.0
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.29.0
venusian==3.1.0
voluptuous==0.15.2
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.2
wheel==0.43.0
whichcraft==0.6.1
whitenoise==6.7.0
win10toast==0.9
wrapt==1.16.0
WTForms==3.1.2
xmltodict==0.13.0
xyzservices==2024.4.0
yarg==0.1.9
yarl==1.9.4
zeep==4.2.1
zipp==3.18.2
zope.deprecation==5.0
zope.event==5.0
zope.interface==6.4.post2
